<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>📋 게시판</h1>

    <!--검색창 박스 -->
    <div class="search-box">
        <form method="GET" action="/">
            <input type="text" name="keyword" placeholder="검색어 입력" value="{{ keyword }}" required>
            <select name="category">
                <option value="title" {% if category == 'title' %}selected{% endif %}>제목</option>
                <option value="content" {% if category == 'content' %}selected{% endif %}>내용</option>
                <option value="all" {% if category == 'all' %}selected{% endif %}>제목 + 내용</option>
            </select>
            <button type="submit">검색</button>
        </form>

        <a href="/" class="action-button">전체 목록 보기</a>
        <a href="/create" class="action-button">✏️ 글 작성하기</a>
    </div>

    <!--게시글 목록 -->
    {% for post in posts %}
    <div class="post-card">
        <h2><a href="/post/{{ post.id }}">📌 {{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
        <small>작성일: {{ post.created_at }}</small>
    </div>
    {% else %}
        <p>게시글이 없습니다.</p>
    {% endfor %}


</body>
</html>
